.title
  .make-center-column Gassiper
.title2  
  .make-center-column Edit Picture

.form-input.make-center-column 
  = form_with modle: resource, as: resource_name, url: user_registration_path(resource_name), method: :patch do |user|
    = user.label :profile_picture, "画像をアップロード", class: "image_input_btn"
    = user.file_field :profile_picture, class: "image_form"
    = user.submit '編集', class: 'form-button'
  
  = link_to '戻る', registrations_show_path(user_id: current_user.id), class: 'form-button'

scss: 
  .image_input_btn{
    display: block;
    background-color: #228B22;
    width: 300px;
    height: 50px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    padding-top: 2px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    &:hover{
      background-color: orange;
    }
  }
  .image_form{
    display: none;
  }
