.title 
  .make-center-column Gassiper
.title2  
  .make-center-column Profile

.deactivate-button
  = link_to '退会', user_registration_path, class: 'nav-button', method: :delete
= @user.deleted_flag
.make-center-column
  .show-form.make-center-column
    .show-form-control
      .show-label Name 
      .show-name
        = @user.name
    .show-form-control
      .show-label Introduce
      .show-introduce 
        = @user.introduce
    
  .show-button
      .form-button  
        = link_to '編集', edit_user_registration_path, class: 'form-button'
      .form-button  
        = link_to '戻る', posts_path, class: 'form-button'

scss: 
  .deactivate-button{
    position: fixed;
    top: 120px;
    left: 92%;

    background-color: red;
  }
  .show-form{
    height: 400px;
    width: 300px;
    background-color:white;
    border-radius: 25px;
    position: fixed;
    top: 200px;
  }
  .show-form-control{
    height: 100px;
    width: 280px;
    background-color:white;
    border-radius: 5px;
    margin: 20px 0px;
    position: relative;
    top: 15px;
  
    word-break:break-all;

  }
  .show-label{
    position: relative;
    font-weight: bold; 
    top: -30px;
  }
  .show-name{
    margin: 10px 0 ;
    font-size: 20px;   
  }
  .show-button{
    position: fixed;
    top: 600px;
  }
  .show-introduce{
    font-size: 15px;
  } 
