.title 
  .make-center-column Gassiper

.make-center-post 
  - if current_user
    - @posts.each do |post|
      .post-shell
        = simple_format(post.text) 
        .user_info
          = post.user.name
        .delete-button
          = link_to '削除', post_path(post.id), method: 'delete' 

- if current_user
  .form-post 
    = link_to 'つぶやき', new_post_path 
    br
    = link_to current_user.name, registrations_show_path
  .nav.make-center-column 
    = link_to 'Log out', destroy_user_session_path(session[:user_id]), method: 'delete', class: 'nav-button'
- else
  .nav.make-center-column
    = link_to 'Log in', new_user_session_path, class: 'nav-button'


scss:
  .nav{
    position: fixed;
    top:100px;
    left: 80%;
    border-radius: 25px;
    border: none;  
  }
  .nav-button{
    font-weight: 600;
    background-color:white;
    width: 150px;
    padding: 3px 0;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    text-align: center;
  }
  .make-center-post{
    display: flex;
    justify-content: center; 
    flex-direction: column; 
    align-items: center;
  }
  .form-post{
    position: fixed;
    top: 50%;
    left: 80%;
    vertical-aligin: center;
    text-align: center;
    background-color: aqua;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    width: 150px;
  }
  .post-shell{
    margin-top: 10px;
    width: 400px;
    background-color: white;
    padding: 30px 30px;
    border-radius: 25px;
  }
  .user_info{
    position: relative;
    top: 25px;
    right: 15px;
    font-size:20px;
    background-color: salmon;
    width: 100px;
    text-align: center;
    border-radius: 15px; 
  }
  .delete-button{
    position: relative;
    left: 350px;
    top: 10px;
    font-size:10px;
    background-color: orange;
    width: 50px;
    text-align: center;
    border-radius: 5px;
  }
