// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.form-input {
  margin-top: 5px;
  font-weight: 600;
  height: 300px;
}
.form-upload {
  margin-top: 5px;
  font-weight: 600;
  height: 600px;
}
.form-control {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px auto;
}
.form-button {
  margin-top: 5px;
  padding: 5px 0;
  font-weight: 600;
  background-color: white;
  width: 150px;
  border-radius: 25px;
  border: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
