// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.nav{
  position: fixed;
  top:100px;
  left: 80%;
  border-radius: 25px;
  border: none; 
}

.form-post{
  position: fixed;
  top: 50%;
  left: 80%

}

.post-button{
  margin-top: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  background-color: aqua;
  width: 150px;
  height: 55px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
}
